
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <h1>Home Page</h1>
    @await Html.PartialAsync("_FirstPartial")


    <p style="font-size:30px;">Welcome here we will show you the TOP 5 Microsoft Products. </p>
    <p style="font-size:30px;">Also check out your list of products. </p>

</body>
</html>
